.app.dark {
    --bg-color: rgb(4, 29, 143);
    --inverted-bg-color: rgb(189, 189, 189);

    --primary-color: rgb(200, 0, 255);
    --secondary-color: #fff;

    --inverted-primary-color: rgb(206, 0, 0);
    --inverted-secondary-color: rgb(0, 125, 121);
}
